<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фотографии мероприятий</title>
    <style>
        ul.paginationTop, ul.paginationBottom {
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        ul.paginationTop li, ul.paginationBottom li {display: inline;}

        ul.paginationTop li a, ul.paginationBottom li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }
        ul.paginationTop li.active a, ul.paginationBottom li.active a {
            background-color: #113060;
            color: white;
        }

        ul.paginationTop li a:hover:not(.active), ul.paginationBottom li a:hover:not(.active) {background-color: #ddd;}

        div.center {
            text-align: center;
            margin: 15px 0;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="header__logo">
            <a href="https://lk.spmi.ru/stream/">
                <img src="{{ asset('img/icon/logo.svg') }}" alt="">
            </a>
        </div>
        <div class="back__burger">
            <div class="header__burger" onclick="changeBurger()">
                <span></span>
            </div>
        </div>
        <nav class="header__menu">
            <ul class="header__list">
                <li id="change_element2">
                    <a href="https://spmi.ru/" class="header__link" onmouseover="addBorderElement('change_element2')" onmouseout="removeBorderElement('change_element2')">Сайт Горного Университета</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-md-auto">
                    <div class="">
                        <div class="card bg-light mb-3 mt-5" style="width: 800px;">
                            <div class="card-body">
                                <form class="form-horizontal" role="form" method="post">
                                    <AmpContent>
                                        {% if error %}
                                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        {% endif %}

                                        {% if app.user %}
                                        </NonAmpContent> <AmpContent>
                                            <div class="mb-3">
                                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                            </div>
                                            {% endif %}
                                            </NonAmpContent>
                                            <div class="card-header mb-3">Выполните вход</div>
                                            <div class="form-group">
                                                <label for="inputEmail" class="col-md-4 control-label">E-mail</label>
                                                <div class="col-md-12">
                                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword">Пароль</label>
                                                <div class="col-md-12">
                                                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                                </div>
                                            </div>

                                            <input type="hidden" name="_csrf_token"
                                                   value="{{ csrf_token('authenticate') }}"
                                            >

                                            <div class="checkbox mb-3">
                                                <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                                                <label for="remember_me">Запомнить меня</label>
                                            </div>

                                            <div class="form-group">
                                                <button class="btn btn-lg btn-primary" type="submit">
                                                    Войти
                                                </button>
                                                <button class="btn btn-lg btn-primary" onclick="window.location.href = '/registration';">Регистрация</button>
                                                <button class="btn btn-lg btn-primary" onclick="window.location.href = '/all/album';">Просмотр без авторизации</button>
                                            </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer_">
        <ul class="footer__links">
            <li>
                <a href="https://spmi.ru/" class="footer__link">Сайт Горного Университета</a>
            </li>
        </ul>
        <div class="footer__share">
            <p>Поделиться</p>
            <script src="https://yastatic.net/share2/share.js"></script>
            <div class="ya-share2" data-curtain data-services="vkontakte,facebook,odnoklassniki,twitter,whatsapp"></div>
        </div>
    </footer>
</div>

<script src="{{ asset('js/app.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
</body>
</html>







