{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('css/glav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/aglav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/lightgallery.min.css') }}">
{% endblock %}

{% block main %}
    <section class="sidebar" style="grid-column: 2 / 3;">
        <ul class="sidebar__menu">
            <li>
                <a href="#" class="sidebar__link">Главная страница клиентской части</a>
            </li>
            <li>
                <a href="{{ path('admin_all_album') }}" class="sidebar__link">Главная страница административной чати</a>
            </li>
            <li>
                <a href="#" class="sidebar__link">Выход</a>
            </li>
        </ul>
    </section>
    <section class="content">
        <h1 class="content__title">{{ album.title }}</h1>
        <div id="for_search">
            <div style="display: flex">
                <form action="{{ path('update_album', {'id': album.id}) }}" style="padding-top: 15px">
                    <input type="submit" class="button" value="Редактировать">
                </form>
                <form action="{{ path('album.delete', {'id': album.id}) }}" style="padding-top: 15px; padding-left: 15px">
                    <input type="submit" class="button" value="Удалить альбом">
                </form>
            </div>
            <div class="center">
                <ul class="paginationTop" ></ul>
            </div>
            <ul class="album__items list" id="lightgallery">
                {% set Images = album.images %}
                {% if(Images) %}
                    {% for img  in Images%}
                        <li data-src="{{ asset('uploads/img/') }}{{ img.getIdImage.getImageName() }}" class="album__item">
                            <a href>
                                <img class="img-responsive" src="{{ asset('uploads/img/') }}{{ img.getIdImage.getImageName() }}" alt="">
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <div class="center">
                <ul class="paginationBottom" ></ul>
            </div>
        </div>
    </section>
{% endblock %}


{% block script %}
    <script src="{{ asset('js/lightgallery.min.js') }}"></script>
    <script src="{{ asset('js/List.js') }}"></script>
{% endblock %}